# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List some of the most popular languages that Data Scientists use.
- List some of the most commonly used libraries by Data Scientists.
- Create a table about Data Science Tools in a markdown cell.
- Execute a simple arithmetic expression.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java Script
6. Julia
7. Matlab
8. C

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Plotly
6. ggplot

| Data Science Tools|
---------------------
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a arithmetic expression to first multiply two numbers and then add another number to their product.
(3*4)+5

17

In [15]:
#  This will convert 200 minutes to hours by diving by 60
minutes=200
one_hour=60
hours=minutes/one_hour
print(hours)

3.3333333333333335

## Author
Saai Sujit Chintala